<% if flash != nil && ( not flash.empty? ) %>
    <div id="notification">
      <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :class => "#{name}" if msg.is_a?(String) %>
      <%- end -%>
    </div>
<% end %>