<h1>Delete developer content</h1>

<%= render 'delete' %>


<%= link_to 'Edit', edit_developer_path(@developer) %> |
<%= link_to 'Show', @developer %> |
<%= link_to 'Back', developers_path %>
