<% if object.any? %>
    <div class="fact">
      <span class="label">
        <%= label.to_s %>:
      </span>
      <ul>
        <% object.each do |f| %>
            <li><%= f.name %><% if f.additional_info != nil %> - <%= f.additional_info %><% end %></li>
        <% end %>
      </ul>
    </div>
<% end %>