<% fields = get_field(object, label.to_s) %>
<% if fields.any? %>
	<div class="fact">
	  <span class="label">
	    <%= label.to_s %>:
	  </span>
	  <ul>
	    <% fields.each do |f| %>
		    <li>
	            <%= just_links_markdown f.content %>
		    </li>
	    <% end %>
	  </ul>
	</div>
<% end %>