<h1>Still in Beta</h1>
<%= image_tag 'beta-header.svg', style: 'width: 70%; padding-left: 15%; padding-right: 15%; padding-bottom: 20px;' %>

<p>
	This archive and the system it is running on are still under development. We try our best to have everything running as smoothly as possible, but <i>happy little accidents</i>(as Bob Ross would put it) can happen at times.
</p> 
<p>
	If you encounter a problem with the site, or want to propose a feature or general improvement you can do so via <a href="mailto:simon@gamelab.at">email</a> or, if you like it a bit more tehcnical, through the github issue tracker.
</p>

<p>
	The <strong>github issue tracker</strong> can be found <a href="https://github.com/SimonWallner/archive-rails/issues">here</a>. You can browse open issues, but you need a (free) github account to create new issues.
</p>

<p>
	As mentioned before, you can always just send us an <a href="mailto:simon@gamelab.at">email</a>, which is probably the more convenient way, if you don't already have a github account.
</p>
