<h1>Report Errors</h1>
<div>
<p>The system that runs the archive is far from complete, and sometimes things don't go as planned. If you encounter a problem with the site, or want to propose a feature or general improvement you can do so via <a href="mailto:simon@gamelab.at">email</a> or through the github issue tracker</p>

<p>The <strong>github issue tracker</strong> can be found <a href="https://github.com/SimonWallner/archive-rails/issues">here</a>. You can browse open issues, but you need a (free) github account to create new issues.</p>

<p>As mentioned before, you can always just send us an <a href="mailto:simon@gamelab.at">email</a>, which is probably the more convenient way, if you don't already have a github account.</p>
</div>