<h1>About</h1>
<div>
<p>The Archive for Austrian Video Game Development strives to gather and preserve information related to video game development in Austria. Our goal is to create a comprehensive archive that serves as an overview over current developments and a constitutes a valuable historical source for the future.</p>

<p>Information is gathered through public contribution in a "wiki like" fashion. Users create and author articles for games, developers, studios and other organisations, and also correct and amend data.</p>

<p>The platform is still in its infancy both in terms of the technical realisation and the gathered content. We planed this as a long term endeavour and we invite everyone to join the conversation and support the archive. We believe that games are an important new medium and art form, and thus deserve to be properly preserved and information about the archived.</p>

<p>We are still in an early prototyping stage, and user accounts are only issued manually. If you want to become a contributor, please send us an email.</p>
</div>
<div>
  <h2>Concept, 2012</h2>
  <p>This archive project was initially drafted by the Association for Innovative Software (Verein für Innovative Unterhaltungssoftware) under their gamelab.at banner. Draft contributors are:</p>
  <ul>
    <li>Roland Moritz</li>
    <li>Jürgen Musil</li>
    <li>David Schwingenschlögl</li>
    <li>Simon Wallner</li>
  </ul>
</div>
<div>
  <h2>Initial Prototype, 2012-2013</h2>
  <p>In autumn 2012, support of a team of students at the Vienna University of Technology was sought to develop an initial prototype. The project was coordianted by <em>Simon Wallner</em> and supervised by <em>Thomas Östreicher</em>. Members of the team:</p>
  <ul>
    <li>Dominik Amon</li>
    <li>Deniz Kocabas</li>
    <li>Christoph Laaber</li>
    <li>Till Riemer</li>
    <li>Georg Scherman</li>
  </ul>
</div>