 // 6 columns + 5 gutter + 2 half gutter on sides
$columnWidth: 48px;
$gutterWidth: 10px;
$gutterMargin: $gutterWidth / 2;

$tileGap: 1.2%;
$pagePadding: 40px;
$pageWidth: 768px - 2 * $pagePadding;

$darkGrey: #3d3d3f;
$lightGrey: #ccc;
$lightLightGrey: #eee;
$middleGrey: #666;
$white: #fff;
$red: #bf3616;
$redBright: $red * 1.2;
$redDark: $red * 0.8;

$borderRadius: 4px;
$font-size: 14px;

/*
 * media query sizes: 
 * devices:
 *  - iPhone portrait:      320
 *  - iPhone landscape:     480
 *  - small tablet portrait:  600
 *  - iPad portrait:      768
 * 
 * we center around the important device sizes. Everything beyond 700px is
 * considered standard desktop size.
 */
$tiny-and-below: "screen and (max-width: 400px)";

$small-only: "screen and (max-width: 550px) and (min-width: 401px)";
$small-and-below: "screen and (max-width: 550px)";
$small-and-up: "screen and (min-width: 401px)";

$mid-only: "screen and (max-width: 699px) and (min-width: 551px)";
$mid-and-below: "screen and (max-width: 699px)";
$mid-and-up: "screen and (min-width: 551px)";

$large-and-up: "screen and (min-width: 700px)";



/* 
 * dev helper, shows the current size target
 */
#responsiveHelper {
	visibility: hidden;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 1em;
	font-weight: 900;
	background-color: $lightGrey;
	border: solid red 1px;
	z-index: 666;
  
	span {
		display: block;
		border-radius: 1em;
		padding: 0.2em 1em 0.2em 1em;
		background-color: $lightGrey * 0.8;
		margin-bottom: 2px;
	}

    
    @media #{$large-and-up} {
    	span#responsive-tag-large-and-up {
			background-color: green;
		}
    }
    
    @media #{$mid-only} {
    	span#responsive-tag-mid-only {
			background-color: lime;
		}
    }

    @media #{$mid-and-below} {
    	span#responsive-tag-mid-and-below {
			background-color: green;
		}
    }

    @media #{$mid-and-up} {
    	span#responsive-tag-mid-and-up {
			background-color: green;
		}
    }
    
    @media #{$small-only} {
    	span#responsive-tag-small-only {
			background-color: lime;
		}
    }

    @media #{$small-and-below} {
    	span#responsive-tag-small-and-below {
			background-color: green;
		}
    }

    @media #{$small-and-up} {
    	span#responsive-tag-small-and-up {
			background-color: green;
		}
    }
    
    @media #{$tiny-and-below} {
    	span#responsive-tag-tiny-and-below {
			background-color: green;
		}
    }
}



@font-face {
  font-family: 'League Gothic';
	src: url('League_Gothic-webfont.eot');
  src: url('/assets/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/League_Gothic-webfont.woff') format('woff'),
       url('/assets/League_Gothic-webfont.ttf') format('truetype'),
       url('/assets/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: $font-size;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	background-color: $lightGrey;
}

div#body {
	background-color: white;
	padding-bottom: 2em;
}

div.container {
  max-width: $pageWidth;
  padding: 0px $pagePadding;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
  overflow: hidden;
  
  
  @media #{$small-and-below} {
    padding: 0px ($pagePadding / 1.5);
  }
  
  @media #{$tiny-and-below} {
    padding: 0px ($pagePadding / 2);
  }
}

div#header {
  background-color: $darkGrey;
  width: 100%;
  padding-top: 2.2em;
  padding-bottom: 1em;
  color: $white;
  
  div.logo {
    width: 33%;
    float: left;
    display: inline;
    
    @media #{$small-and-below} {
      display: block;
      float: none;
      width: 50%;
    }
    
    @media #{$tiny-and-below} {
      width: 75%;
    }
  }

	hr {
		width: 80%;
		height: 1px;
		background-color: $lightGrey;
		margin: 1em auto 0px auto;
	}
  
  div.brief {
    width: 64%;
    margin-left: 35%;
	
	p {
		text-indent: 1em;
	}
    
    @media #{$small-and-below} {
      width: 100%;
      margin-left: 0px;
      margin-top: 1em;
    }
  }
}

div#top-menu {
	background-color: $darkGrey * 1.2;
	padding-bottom: 1em;
	
	a {
		&:link { color: $white; text-decoration: none; }
		&:hover { color: $white; text-decoration: underline; }
		&:active { color: $white; text-decoration: underline; }
		&:visited { color: $white; text-decoration: none; }
	}
}

div.menu {
  margin-top: 1em;
  
  ul {
    width: 33%;
    display: inline;
    float: left;
  }

    @media #{$small-and-below} {
		ul {
			width: 100%;
			display: block;
			float: none;
			margin-bottom: 0.5em;
			
			&:last {
				margin-bottom: 0px;
			}
		}
	}		
}

div#footer {
  background-color: $lightGrey;
  color: $middleGrey;
  font-size: 0.8em;
  margin-top: 1em;

	a {
		&:link { color: $middleGrey; text-decoration: none; }
		&:hover { color: $middleGrey; text-decoration: underline; }
		&:active { color: $middleGrey; text-decoration: underline; }
		&:visited { color: $middleGrey; text-decoration: none; }
	}
}

div#footerMenu {
  margin-top: 2.2em;
}

div#legal {
  margin-top: 1.5em;
}

div#footerLogo {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 25%;
  
  @media #{$tiny-and-below} {
    width: 33%;
  }
}

h1,
h2 {
  font-family: 'League Gothic';
  text-transform: uppercase;
  font-size: 4.5em;
  color: $darkGrey;
  margin-top: 1em;

  &:first-child {
    margin-top: 0.5em;
  }
  
  a {
    &:link { color: $darkGrey; text-decoration: none; }
    &:hover { color: $darkGrey; text-decoration: none; }
    &:active { color: $darkGrey; text-decoration: none; }
    &:visited { color: $darkGrey; text-decoration: none; }
  }
}

h2 {
  font-size: 2.5em;
}

p {
  margin-bottom: 1em;
  
  &:last-child {
    margin-bottom: 0px;
  }
}

a {
  &:link { color: $red; text-decoration: none; }
  &:hover { color: $redBright; text-decoration: underline; }
  &:active { color: $red; text-decoration: none; }
  &:visited { color: $redDark; text-decoration: none; }
}

.rounded {
  border-radius: $borderRadius;
}

img {
  width: 100%;
}
img.thumb{
  width:33%;
}

div.game-teaser-large {
	padding-bottom: ($tileGap);
}

div.tiled_2x,
div.tiled_4x {
  float: left;
  
  padding-left: ($tileGap / 2);
  padding-right: ($tileGap / 2);
  padding-top: ($tileGap);
}

div.tiled_2x {
	width: 50% - $tileGap / 2;

	@media #{$mid-and-up} {
		&:nth-child(odd) {
			padding-left: 0px;
		}

		&:nth-child(even) {
			padding-right: 0px;
		}

		&:nth-child(-n+2) {
			padding-top: 0px;
		}
	}
  
	@media #{$small-and-below} {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		float: clear;
	
		&:nth-child(1) {
			padding-top: 0px;
		}
	}
}

div.tiled_4x {
	width: (100% - (3 * $tileGap)) / 4;

	@media #{$large-and-up} {
		&:nth-child(4n+1) {
			padding-left: 0px;
		}

		&:nth-child(4n) {
			padding-right: 0px;
		}
	
		&:nth-child(-n+4) {
			padding-top: 0px;
		}
	}  
	
	@media #{$mid-only} {
		width: (100% - (2 * $tileGap)) / 3;

		&:nth-child(3n+1) {
			padding-left: 0px;
		}

		&:nth-child(3n) {
			padding-right: 0px;
		}
		
		&:nth-child(-n+3) {
			padding-top: 0px;
		}
	}

	@media #{$small-and-below} {
		width: (100% - $tileGap) / 2;

		&:nth-child(odd) {
			padding-left: 0px;
		}

		&:nth-child(even) {
			padding-right: 0px;
		}
		
		&:nth-child(-n+2) {
			padding-top: 0px;
		}

	}
}

div.tile {
  position: relative;
  
  .caption {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

    background-color: rgba(255, 255, 255, 0.3);
    color: $darkGrey;
    font-size: 2em;
    font-family: 'League Gothic';
    text-transform: uppercase;
    
    div { /* inner caption div */
      margin-left: $borderRadius;
      margin-right: $borderRadius;
      margin-top: $borderRadius;
    }
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    };
  }
}

div.more {
	margin-top: 1em;
	font-weight: 900;
}


div.text {
  margin-bottom: 1em;

  @media #{$large-and-up} {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: $lightGrey;
    padding-right: 2%;
    width: 64%;
  }

	ol, ul {
		list-style-position: inside;
		margin-bottom: 1em;
	}
	
    ul {
      list-style: disc;
      margin-left: 1.5em;
           
    }
    
    ol {list-style-type: decimal; }

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Bitter';
		font-size: 1.5em;
	}
	
	h2 {
		font-size: 1.2em;
	}
	
	h3, h4, h5, h6 {
		font-size: 1em;
	}
}

 
div.fact-box {
  .fact {
    div:first-child {
      font-weight: bold;
    }
  }

  margin-bottom: $font-size;
	
	img {
		margin-bottom: 14px;
		float: clear;
	}
	
	@media #{$large-and-up} {
		width: 32%;
		float: right;
	}

	@media #{$mid-and-below} {
		img {
			float: right;
			width: 33%;
			margin-left: $font-size;
		}
	}
	
	@media #{$tiny-and-below} {
		img {
			float: none;
			width: 60%;
			display: block;
		    margin-left: auto;
		    margin-right: auto
		}
	}
	

	
	.label {
		font-weight: 900;
	}
	
	ul {
		display: inline;
	}
	
	li {
		display: inline;
		&:after {
			content: ","
		}
		
		&:last-child {
			&:after {
				content: ""
			}
		}
	}
}

div#versions {
	margin-bottom: 1em;
	background-color: $lightGrey * 1.2;
	border-radius: 2px;
	
	ul, li {
		display: inline;
	}
	
	li {
		&:after {
			content: ', ';
		}
		&:last-child {
			&:after {
				content: '';
			};
		}
	}
	
	form div {
		display: inline;
	}
	
}

div.game {
  div.teaser {
    margin-top: 2.2em;
    margin-bottom: 2.2em;
  }
  
  h1 {
	margin-top: 0px;
	clear: both;
  }

  
  div.media {
    overflow: hidden;
    margin-bottom: 2.2em;
    margin-top: 2.2em;
    
    div.caption {
      width: 100%;
      background-color: $darkGrey;
      color: $lightLightGrey;
      padding: 0.5em;
      font-size: 0.8em;
    }
  }
}

span.forceWrap {
  word-wrap: break-word;
}

div.pager {
  /* TODO: center the pager! */
  color: $middleGrey * 1.4;
  margin-top: 1em;
  
  span {
    min-width: 2em;
    display: block;
    padding: 0.4em;
    padding-bottom: 0.3em;
    text-align: center;
    background-color: $lightGrey * 1.12;
    float: left;
    margin: 2px;
    border-radius: $borderRadius;
  }
  
  span.active {
    background-color: $lightGrey * 0.8;
    color: $white;
  }

  
  span.prev {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    
    &:before {
      content: "\25c0\2002";
      font-family: arial;
      font-size: 0.8em;
    }
  }
  
  span.next {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    
    &:after {
      content: "\2002\25B6";
      font-family: arial;
      font-size: 0.8em;
    }
  }
}

a:hover span {
  background-color: $lightGrey * 0.8;
}

a.tagit-close:hover span {
  background-color: transparent;
}

.blocked-link {
  display:block;
  padding-top:0.3em;
  padding-bottom:0.2em;
  padding-left:0.5em;
  padding-right:0.5em;
}


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


.field {
	margin-bottom: 1em;
	
	label {
		font-weight: 900;
	}
	
	.field-label {
		div {
			font-size:0.8em;
			
			&:first-child {
	     		font-size: 1em;
				width: 25em;
			}
		}
	}
	
	input[type="text"]{
		width: 50%;
	}

   	textarea {
		width: 100%;
	}

	input[type="text"].mixin {
		width: 40%;
		margin: 2px;
   }

	input.linkFound {
		background-color: #98fb98;
	}
	
	@media #{$mid-and-below} {
		input[type="text"]{
			width: 100%;
		}

		textarea{
			width: 100%;
		}

		input[type="text"].mixin {
			width: 40%;
			margin: 2px;
		}
	}
}

.field-help {
	color: $middleGrey;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	p {
		margin-bottom: 0.2em;
	}
	
	span.code {
		display: inline-block;
		font-family: 'PT Mono';
		background-color: $lightGrey;
		border-radius: 0.2em;
		padding-left: 0.3em;
		padding-right: 0.3em;
		color: black;
		font-size: 0.95em;
	}
}

.radiobutton {
	.field-label {
    &>div:first-child {
      font-size: 1em;
      width: 0em;
    }

    &>div {
      font-size:0.8em;
	  width: 2em;
    }
  }
}
// Listing of all available tags
div.all {
   top: 10px;
   right: 10px;
   width: 310px;
   margin: 20px auto;
   background: #3D3D3F;
   color: #ffffff;
   border-radius: 15px;
   min-height : 140px;
   max-height : 460px;
   z-index : 50;

    h3 {
    padding-top:20px;
    text-align: center;
    border:none;
    border-bottom: 1px solid #ffffff;
  }


  div{    
  @media #{$mid-and-below} {    
      width: 100%;
  }
    padding-left:20px;
    padding-bottom:20px;
    padding-top:20px;
    width: 270px;
    word-spacing:8pt;
  }
}

 ul.tagit li.tagit-choice {
   z-index : 0;
 }

#notification {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
/*  display: none;*/
}


.input-description {
  font-size: 0.8em;
  margin-bottom-bottom: 0.2em;
}

 
img.full_markdown_help {
  vertical-align: top;
}

.tooltipsy {
  padding: 10px;
  color: #303030;
  background-color: #f5f5b5;
  border: 1px solid #deca7e;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  text-shadow: none;
  position: fixed;
  top: 10px;
  right: 10px;
}

.tooltipsy dt{
  font-weight: bold;
  font-size: large;
}
.tooltipsy dt:nth-child(n+2) {
  padding-top: 5px;
}
.addedField {
	margin-bottom: 1em;
}

div.newFieldsDiv {
	width: 100%;
	input{
		width: 100%;
	}
  
	textarea {
    	width: 100%;
	}

	input.year {
		width: 3em;
	}
	
	div.release_dates_div {
		input{
			width: auto;
		}
		
		input.year{
			width: 3em;
		}
 	}
}

@media #{$mid-and-below} {
	div.newFieldsDiv{
		width: 100%;
	}
}




input.year{
  width: 3em;
}

form.edit_game label, form.new_game label,form.edit_company label,form.new_company label,form.edit_developer label,form.new_developer label  {
   font-weight: bold;
 }

#screenshots label, #profilepicfields label{
  font-weight: normal;
}


img.thumb {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}


table {
	width: 100%;
	
	tr {
		&:nth-child(odd) {
			background-color: $lightLightGrey;
		}
		&:nth-child(even) {
			background-color: $lightLightGrey * 1.07;
		}
	}
	tr.header td {
		font-weight: 900;
	}
	
	td {
		padding: 3px;
	}
}

 

 
